<form action="{{ path('BlogBundle_comment_create', { 'blog_id' : comment.blog.id } ) }}" method="post" class="blogger">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <p>
        <input type="submit" value="Submit">
    </p>
    {{ form_end(form) }}
</form>
